body {
  color: white;
  background: black;
  font-family: 'Consolas', sans-serif;
  margin: 0 20px;
}

input {
  background: black;
  border: none;
  border-bottom: 2px solid gray;
  color: white;
}

.is-new {
  color: green;
  position: relative;

  &::before {
    content: '*';
    color: green;
    position: absolute;
    left: -15px;
  }
}

ul {
  list-style: none;
}
